.viewDetails {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

.viewDetails > .left {
  flex: 0.7;
  text-align: left;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.viewDetails > .left > div {
  display: flex;
}

.viewDetails > .left > div > .first {
  flex: 1;
  max-width: 75%;
  overflow-x: hidden;
}

.viewDetails > .left > div > .first::-webkit-scrollbar {
  display: none;
}

h2 {
  font-weight: 500;
  color: var(--font-color);
  padding: 20px;
  padding-left: 0;
}

.card {
  padding: 10px;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0;
  background-color: white;
  min-height: 100px !important;
  min-width: 100px;
  width: 30%;
  height: 30% !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
}

.card > p {
  color: var(--font-color);
}

.viewDetails > .left > .link {
  margin-left: 0 !important;
  width: fit-content;
}

.link > button {
  align-self: flex-start;
  margin-top: 20px;
}

.viewDetails > .right {
  flex: 0.3;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.viewDetails > .right > label {
  color: red;
}

.viewDetails > .right > input {
  padding: 10px;
  outline: none;
  border: none;
  background-color: initial;
  color: var(--font-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.viewDetails > .right > input:focus {
  border-bottom: 1px solid var(--theame-color);
}

.viewDetails > .right > button {
  margin: 20px;
  margin-left: 0;
  align-self: flex-start;
}

@media screen and (max-width: 700px) {
  .viewDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6%;
  }
  .viewDetails > .left > h2 {
    margin: 0 auto;
  }
  .viewDetails > .left > div {
    width: 80%;
    margin: 0 auto;
  }
  .viewDetails > .left > div > .first {
    flex: 1;
    min-width: 95% !important;
    overflow-x: scroll;
  }
  .viewDetails > .left > .left__bottom {
    width: 80%;
    margin-right: 0;
  }
  .second {
    margin-right: 0;
  }
  .viewDetails > .left > .link {
    align-self: center;
  }
  .viewDetails > .right > button {
    margin: 10px auto;
  }
}
